soar.json
{
  "name": "soar",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "soar",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        -48
      ],
      "id": "b9502449-55af-49fc-9758-754e5c77882a",
      "name": "Webhook",
      "webhookId": "213655bd-e5c6-4d01-a3d3-b091a9c904e9"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ !!$json.body.url }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "3be2c80e-71c6-497b-87fc-20c287515caa"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0b83ae4a-9e7e-4a44-91d7-55d041d1684a",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "301b5d4d-06f7-4705-97d2-bea10c1ac7af",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -160,
        -48
      ],
      "id": "92a1f513-a32e-43b4-85f3-4829c5a2b1d3",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71268c8c-c1fb-423d-949d-62556a4cf363",
              "name": "Hasil",
              "value": "=🚨 **Laporan Analisis URLScan.io** 🚨 \n\n🔍 **Target:** {{ $json.page.url }}\n🛡️ **Status:** {{ $json.verdicts.overall.malicious ? '🔴 MALICIOUS' : '🟢 CLEAN' }}\n💯 **Skor Risiko:** {{ $json.verdicts.overall.score }}\n\n**Detail Infrastruktur:**\n🌍 **IP:** {{ $json.page.ip }}\n🏳️ **Negara:** {{ $json.page.country }}\n🏢 **ISP:** {{ $json.page.asnname }}\n\n📸 **Screenshot:** {{ $json.task.screenshotURL }}\n🔗 **Laporan Lengkap:** {{ $json.task.reportURL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        -208
      ],
      "id": "7bfca403-a899-4d3b-a2f6-110dee47f8a8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        -16
      ],
      "id": "fb5203c5-59c5-4dcc-8534-8e15d559b85b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        176
      ],
      "id": "886a3a94-290a-4bf5-bc47-ee0127d85f7e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "={{ $json.body.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.urlScanIo",
      "typeVersion": 1,
      "position": [
        272,
        -128
      ],
      "id": "7f492e12-6974-4fe9-ac86-26fd7d1fa9f8",
      "name": "Perform a scan",
      "credentials": {
        "urlScanIoApi": {
          "id": "oK3vTOqDkGBU0oi6",
          "name": "urlscan.io account"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        -192
      ],
      "id": "0bb8c739-050e-4108-9874-e30a44152697",
      "name": "Wait",
      "webhookId": "800a89dc-85ff-4734-9542-c1463824b25f"
    },
    {
      "parameters": {
        "operation": "get",
        "scanId": "={{ $json.scanId }}"
      },
      "type": "n8n-nodes-base.urlScanIo",
      "typeVersion": 1,
      "position": [
        688,
        -208
      ],
      "id": "97e5e58e-6d9e-45c0-b9af-e3745d3d0afd",
      "name": "Get a scan",
      "credentials": {
        "urlScanIoApi": {
          "id": "oK3vTOqDkGBU0oi6",
          "name": "urlscan.io account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1687588177",
        "text": "={{ $json.Hasil }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1248,
        -208
      ],
      "id": "771983dc-0144-44a3-a8b3-4868a5d38f7f",
      "name": "Send a text message",
      "webhookId": "3bb668fe-a8b9-4d67-a311-c1601baa230f",
      "credentials": {
        "telegramApi": {
          "id": "OT8m2d8L2FcFi42d",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "curlImport": "",
        "httpVariantWarning": "",
        "method": "GET",
        "url": "https://www.virustotal.com/api/v3/Files",
        "": "",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "virusTotalApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        -48
      ],
      "id": "93ad9e62-d46f-49e4-8da1-30f9c471b84f",
      "name": "VirusTotal HTTP Request",
      "extendsCredential": "virusTotalApi"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Perform a scan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "VirusTotal HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perform a scan": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get a scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a scan": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VirusTotal HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "91a69812-171c-4554-8522-9b171cb6211c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7679ee6572b8943a21f7afbce2bff7bd3faadfb465a19d7edc7d228b47b3df7"
  },
  "id": "XhCCLCXhZ_m5PfG6_pFnN",
  "tags": []
}